CREATE OR REPLACE VIEW unified_settlements AS
SELECT
    neft_id, neft_type, payment_date,
    COALESCE(bank_settlement, 0) AS bank_settlement,
    input_gst_tcs, income_tax_credits, order_id, order_item_id,
    COALESCE(sale_amount, 0) AS sale_amount,
    COALESCE(total_offer_amount, 0) AS total_offer_amount,
    COALESCE(my_share, 0) AS my_share,
    COALESCE(customer_addons, 0) AS customer_addons,
    COALESCE(marketplace_fee, 0) AS marketplace_fee,
    COALESCE(taxes, 0) AS taxes,
    COALESCE(offer_adjustments, 0) AS offer_adjustments,
    COALESCE(protection_fund, 0) AS protection_fund,
    COALESCE(refund, 0) AS refund,
    tier, commission_rate,
    COALESCE(commission, 0) AS commission,
    COALESCE(fixed_fee, 0) AS fixed_fee,
    COALESCE(collection_fee, 0) AS collection_fee,
    COALESCE(pick_pack_fee, 0) AS pick_pack_fee,
    COALESCE(shipping_fee, 0) AS shipping_fee,
    COALESCE(reverse_shipping, 0) AS reverse_shipping,
    COALESCE(no_cost_emi_fee, 0) AS no_cost_emi_fee,
    installation_fee, tech_visit_fee, uninstallation_fee,
    COALESCE(customer_addon_recovery, 0) AS customer_addon_recovery,
    COALESCE(franchise_fee, 0) AS franchise_fee,
    COALESCE(shopsy_marketing_fee, 0) AS shopsy_marketing_fee,
    COALESCE(cancellation_fee, 0) AS cancellation_fee,
    COALESCE(tcs, 0) AS tcs,
    COALESCE(tds, 0) AS tds,
    COALESCE(gst_on_mp_fees, 0) AS gst_on_mp_fees,
    0::numeric AS mp_other_fee,
    offer_amount_discount_mp, item_gst_rate, discount_mp_fees, gst_on_discount,
    total_discount_mp_fee, offer_adjustment_detail, dead_weight, dimensions,
    volumetric_weight, chargeable_weight_source, chargeable_weight_type,
    chargeable_weight_slab, shipping_zone, order_date, dispatch_date,
    fulfilment_type, seller_sku, quantity, product_sub_category, additional_info,
    return_type, shopsy_order, item_return_status, invoice_id, invoice_date,
    'flipkart'::text AS marketplace, uploaded_at,
    spf_received, spf_received_date, spf_received_amount, spf_received_neft_id
FROM fk_settlement_orders
UNION ALL
SELECT
    MAX(settlement_id), NULL, posted_date,
    SUM(COALESCE(amount, 0)),
    0, 0, order_id, order_item_code,
    SUM(CASE WHEN transaction_type = 'Order' AND amount_type = 'ItemPrice' AND amount_description IN ('Principal', 'Product Tax') THEN amount ELSE 0 END),
    0, 0,
    SUM(CASE WHEN NOT ((transaction_type = 'Order' AND amount_type = 'ItemPrice' AND amount_description IN ('Principal', 'Product Tax')) OR (transaction_type = 'Refund' AND amount_type = 'ItemPrice' AND amount_description IN ('Principal', 'Product Tax')) OR amount_description ILIKE 'Commission' OR amount_description ILIKE 'Fixed closing fee' OR amount_description ILIKE 'FBA Pick & Pack Fee' OR amount_description ILIKE 'FBA Weight Handling Fee' OR amount_description ILIKE 'Shipping Chargeback' OR amount_description ILIKE 'Refund commission' OR amount_description ILIKE 'TCS%' OR amount_description ILIKE 'TDS%' OR (amount_description ILIKE '%GST%' AND amount_type != 'FBA Inventory Reimbursement') OR amount_type = 'FBA Inventory Reimbursement' OR amount_description IN ('SAFE-T Reimbursement', 'Reimbursement for Lost packages')) AND amount > 0 THEN amount ELSE 0 END),
    0, 0, 0, 0,
    SUM(CASE WHEN transaction_type = 'Refund' AND amount_type = 'ItemPrice' AND amount_description IN ('Principal', 'Product Tax') THEN amount ELSE 0 END),
    NULL, 0,
    ABS(SUM(CASE WHEN amount_description ILIKE 'Commission' THEN amount ELSE 0 END)),
    ABS(SUM(CASE WHEN amount_description ILIKE 'Fixed closing fee' THEN amount ELSE 0 END)),
    0,
    ABS(SUM(CASE WHEN amount_description ILIKE 'FBA Pick & Pack Fee' THEN amount ELSE 0 END)),
    ABS(SUM(CASE WHEN amount_description ILIKE 'FBA Weight Handling Fee' OR amount_description ILIKE 'Shipping Chargeback' THEN amount ELSE 0 END)),
    ABS(SUM(CASE WHEN amount_description ILIKE 'Refund commission' THEN amount ELSE 0 END)),
    0, 0, 0, 0, 0, 0, 0, 0,
    ABS(SUM(CASE WHEN amount_description ILIKE 'TCS%' THEN amount ELSE 0 END)),
    ABS(SUM(CASE WHEN amount_description ILIKE 'TDS%' THEN amount ELSE 0 END)),
    ABS(SUM(CASE WHEN amount_description ILIKE '%GST%' AND amount_type != 'FBA Inventory Reimbursement' THEN amount ELSE 0 END)),
    ABS(SUM(CASE WHEN NOT ((transaction_type = 'Order' AND amount_type = 'ItemPrice' AND amount_description IN ('Principal', 'Product Tax')) OR (transaction_type = 'Refund' AND amount_type = 'ItemPrice' AND amount_description IN ('Principal', 'Product Tax')) OR amount_description ILIKE 'Commission' OR amount_description ILIKE 'Fixed closing fee' OR amount_description ILIKE 'FBA Pick & Pack Fee' OR amount_description ILIKE 'FBA Weight Handling Fee' OR amount_description ILIKE 'Shipping Chargeback' OR amount_description ILIKE 'Refund commission' OR amount_description ILIKE 'TCS%' OR amount_description ILIKE 'TDS%' OR (amount_description ILIKE '%GST%' AND amount_type != 'FBA Inventory Reimbursement') OR amount_type = 'FBA Inventory Reimbursement' OR amount_description IN ('SAFE-T Reimbursement', 'Reimbursement for Lost packages')) AND amount < 0 THEN amount ELSE 0 END)),
    0, 0, 0, 0, 0, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL,
    MAX(fulfillment_id), MAX(sku), SUM(quantity), NULL, NULL,
    MAX(CASE WHEN transaction_type = 'Fulfillment Fee Refund' THEN 'RTO' WHEN transaction_type = 'Refund' THEN 'Customer Return' ELSE NULL END),
    MAX(ret_reason), MAX(ret_sub), MAX(ret_status), NULL,
    'amazon'::text, NULL,
    MAX(CASE WHEN amount_type = 'FBA Inventory Reimbursement' OR amount_description IN ('SAFE-T Reimbursement', 'Reimbursement for Lost packages') THEN TRUE ELSE FALSE END),
    MAX(CASE WHEN amount_type = 'FBA Inventory Reimbursement' OR amount_description IN ('SAFE-T Reimbursement', 'Reimbursement for Lost packages') THEN posted_date ELSE NULL END),
    SUM(CASE WHEN amount_type = 'FBA Inventory Reimbursement' OR amount_description IN ('SAFE-T Reimbursement', 'Reimbursement for Lost packages') THEN amount ELSE 0 END),
    MAX(CASE WHEN amount_type = 'FBA Inventory Reimbursement' OR amount_description IN ('SAFE-T Reimbursement', 'Reimbursement for Lost packages') THEN settlement_id ELSE NULL END)
FROM (
  SELECT asl.*, ret.ret_reason, ret.ret_sub, ret.ret_status
  FROM amazon_settlement_lines asl
  LEFT JOIN (
    SELECT order_id, sku, 
           MAX(return_reason) as ret_reason, 
           MAX(return_sub_reason) as ret_sub, 
           MAX(disposition) as ret_status
    FROM returns
    WHERE marketplace = 'amazon'
    GROUP BY order_id, sku
  ) ret ON ret.order_id = asl.order_id AND ret.sku = asl.sku
) asl
WHERE order_id ~ '^\d{3}-\d{7}-\d{7}$'
GROUP BY order_item_code, order_id, posted_date
`
